<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Softskillstudio</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="Softskillstudio is an initiative started by Smita Deka amidst the pandemic in May 2020. This initiative has been taken with the motive of empowering the NorthEast youth and bringing them at par with all their global peers." />
  <link rel="icon" href="assets/image/logo-main.png">
  <link rel="stylesheet" href="assets/css/index.css" />
  <link rel="stylesheet" href="assets/css/animation.css" />
</head>
<body class="body">
  <div class="body-content border">
    <nav class="border navbar dyn-flex-dir dyn-flex-height">
        <!-- Nav bar -->
        <div class="nav-item-left">
          <div class="border nav-item">
              <img src="assets/image/logo.png" class="logo">
          </div>
          <div class="border nav-item nav-item-main">
            <a href="/" class="pages-link">Soft Skill Studio</a>
          </div>
        </div>
        <div class="line-div"></div>
        <div class="border nav-item-right ">
          <div class="nav-item pages-link"><a href="index.html" class="pages-link">Home</a></div>
          <div class="vr-line"></div>
          <div class="nav-item pages-link"><a href="about.html" class="pages-link">About the Founder</a></div>
          <div class="vr-line"></div>
          <div class="nav-item pages-link"><a href="services.html" class="pages-link">Services</a></div>
          <div class="vr-line"></div>
          <div class="nav-item pages-link"><a href="contact.html" class="pages-link">Contact Us</a></div>        </div>
    </nav>
    {{ body-content }}
    <footer class="page-content-items border div-theme-odd">
      <div class="contact">
        <a href="contact.html" class="cards-link-green">To know more, Connect here</a>
      </div>
      <div class="socials">
        <a href="https://www.linkedin.com/in/smita-deka-softskilltrainer-communicationcoach">
          <img src="assets/image/logos/LI-In-Bug.png" class="logo-footer as-1_2"/></a>
        <a href="https://www.instagram.com/softskillstudio/">
          <img src="assets/image/logos/Instagram_Glyph_Gradient_small.png" class="logo-footer"/></a>
      </div>
      <div class="copyright">
        Copyright &#169; Soft Skill Studio
      </div>
    </footer>
  </div>
</body>
</html>